.App {
  text-align: center;
 background-color:  #545256;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card-body{
  display: flex;
  flex-direction: column;
  
}

.card-body{
  height: 250px;
}

.card-text{
  overflow-y: scroll;
  height: 96px;
}
.card-img-top{
  height: 429px;
}

.navbar-genre{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.navbar-expand-lg{
  background-color: #3D3C41 !important;

}



.navbar-brandd {
  color:white !important;
}
.nav-link {
  color:white !important;
}


.slider-container{
  width: 50%;
  height: 100px;
  padding: 50px;
  background-color: lightblue;
}

.input-range__track{
  background-color: orange; 
}
.input-range__slider{
  border:2px solid red;
  background-color: pink; 
}
.input-range__track--active{
  background-color: green; 
} 

.rating-text{
  max-width: 288px;
  width: 100%;
}

